@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* ////////////////////ESTILOS PRINCIPALES//////////// */

body {
  margin: 0;
}

.App {
  /* min-height: 100vh; */
  width: 100%;
  background: radial-gradient(100% 197.75% at 100% 0%, #cefae5 0%, #e6fc9d 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

/* body{
    min-width: 100vh;
} */

main {
  min-height: 100vh;
}

header {
  min-height: 120px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Modo oscuro */

.App-dark {
  width: 100%;
  background-color: #2b3e59;
}

.header-dark {
  background-color: #646cff;
}
.header-dark > nav > a {
  color: white;
}

header > button {
  display: grid;
  place-items: center;
  padding: 5px;
}

nav {
  display: flex;
  height: 100%;
  width: 470px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

nav > a {
  color: #2b3e59;
  display: flex;
  text-decoration: none;
  width: 130px;
  justify-content: space-evenly;
}

#logo {
  display: flex;
  align-items: center;
  width: 228px;
  justify-content: space-around;
}

#logo > h1 {
  font-family: "EB Garamond";
  font-weight: 800;
  font-size: 36px;
  color: #2b3e59;
  line-height: 47px;
}

#formSection {
  display: flex;
  height: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

/* //ESTILOS BOTONES */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.bookCard:nth-child(1) {
  /* display: none; */
}
/* ////////////////ESTILOS VISTA CATÃLOGO */

/* VISTA DE LISTA */
.books-list {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  min-width: 850px;
}

.books-list > .bookCard {
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 31%);
  margin: 40px;
}

.books-list > .bookCard > .bookDesc {
  text-align: center;
  width: 100%;
  display: grid;
  place-content: center;
}

.books-list > .bookCard > .bookDesc > h2 {
  font-family: "EB Garamond";
  color: #2b3e59;
  font-size: 17px;
}

.books-list > .bookCard > .facebook > img,
.books-list > .bookCard > .facebook {
  width: 250px;
  height: 366px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.books-list > .bookCard > .bookDesc > p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  width: 235px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* VISTA DE GRID */
.bookCard {
  display: flex;
  background: #ffffff;
  border: 1px solid #2b3e59;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
}

.books-grid > .bookCard:hover {
  transform: scale(1.1);
}

.facebook {
  height: 220px;
  width: 148px;
  background-color: #a6a0a0;
}

.books-grid > .bookCard > .bookDesc {
  height: 220px;
  /* text-align: center; */
  width: 100%;
  border-left: 1px solid black;
  display: grid;
  padding: 10px;
  place-content: center;
}

.books-grid > .bookCard > .facebook > img {
  width: 150px;
  height: 220px;
}

.bookDesc > h1 {
  margin: auto 0;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #2b3e59;
}

.bookDesc > h3 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.books-grid > .bookCard > .bookDesc > p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#searchBar {
  width: 447px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #d3bb3d;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

#searchBar > button,
#searchBar > button:hover {
  background: #ffffff;
  border: none;
}

#searchBar > button > img {
  width: 18px;
}

#searchBar > input {
  width: 411px;
  border: none;
}

#searchBar > input:focus {
  outline: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 300px;
  padding: 5px;
  border: 1px solid #637acc;
  overflow: hidden;
}

#burgerContainer {
  display: none;
}

/* MEDIAS QUERIES */

@media (max-width: 860px) {
  nav {
    display: none;
  }

  header {
    border-bottom: 4px solid #2b3e59;
    height: 66px;
  }

  header > #burgerContainer > .navBar {
    position: absolute;
    top: 51px;
    right: 32px;
  }

  #searchBar {
    width: 366px;
    margin: 10px 0;
  }

  #burgerContainer {
    display: flex;
  }

  #formSection > div {
    display: none;
  }

  #formSection > button {
    display: none;
  }
}

/* Burger menu */
/* ---------------- Navbar and burger menu ------------------ */
.navBar {
  display: flex;
}

.burgerButton {
  cursor: pointer;
}

.menu {
  width: 326px;
  height: 100rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  /* z-index: -1; */
  right: 0;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

/* ------------- sliding menu ------------------ */
.hidden {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.visible {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  visibility: visible;
  /* opacity: 1; */
}

/* //////////////////////////SPINNER//////////////////// */

.spinnerContainer {
  width: 100%;
  display: grid;
  place-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 90px 0;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  margin: 20px;
}
