@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


/* ////////////////////ESTILOS PRINCIPALES//////////// */


body{
    margin: 0;
}

.App{
    /* min-height: 100vh; */
    width: 100%;
    background-color: #dbfbbd;
}

/* body{
    min-width: 100vh;
} */

main{
    min-height: 100vh;
}

header{
    min-height: 120px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}

nav{
    display: flex;
    height: 100%;
    width: 70%;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

input[type="text"]{
    width: 447px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #D3BB3D;
    border-radius: 6px;
}

nav>a{
    color: #2B3E59;
    display: flex;
    text-decoration: none;
    width: 130px;
    justify-content: space-evenly;
    
}

#logo{
    height: 58px;
    width: 228px;
}

#formSection{
    display: flex;
    height: 70px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}


/* //ESTILOS BOTONES */


button {
    border-radius: 8px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }


  /* ////////////////ESTILOS VISTA CATÃLOGO */

  .bookCard{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #2B3E59;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
  }

  .facebook{
    height: 220px;
    width: 148px;
    background-color: #A6A0A0;
  }

  .bookDesc{
    width: 200px;
    height: 220px;
    text-align: center;
  }

  .bookDesc>h1{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;

    color: #2B3E59;
  }

  .bookDesc>h3{
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .bookDesc>p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
  }