@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* ////////////////////ESTILOS PRINCIPALES//////////// */

body {
  margin: 0;
}

.App {
  /* min-height: 100vh; */
  width: 100%;
  background: radial-gradient(100% 197.75% at 100% 0%, #cefae5 0%, #e6fc9d 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

/* body{
    min-width: 100vh;
} */

main {
  min-height: 100vh;
}

header {
  min-height: 120px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}

/* Modo oscuro */

.header-dark {
  background-color: #646cff;
}
.header-dark > nav > a {
  color: white;
}

.main-dark {
  background-color: #2b3e59;
}

header > button {
  display: grid;
  place-items: center;
  padding: 5px;
}

nav {
  display: flex;
  height: 100%;
  width: 70%;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

nav > a {
  color: #2b3e59;
  display: flex;
  text-decoration: none;
  width: 130px;
  justify-content: space-evenly;
}

#logo {
  display: flex;
  align-items: center;
  width: 228px;
  justify-content: space-around;
}

#logo > h1 {
  font-family: "EB Garamond";
  font-weight: 800;
  font-size: 36px;
  color: #2b3e59;
  line-height: 47px;
}

#formSection {
  display: flex;
  height: 70px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

/* //ESTILOS BOTONES */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

/* ////////////////ESTILOS VISTA CATÃLOGO */

.bookCard {
  display: flex;
  background: #ffffff;
  border: 1px solid #2b3e59;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
}

.facebook {
  height: 220px;
  width: 148px;
  background-color: #a6a0a0;
}

.bookDesc {
  height: 220px;
  text-align: center;
  width: 100%;
}

.bookDesc > h1 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;

  color: #2b3e59;
}

.bookDesc > h3 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.bookDesc > p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 2px;
}

#searchBar {
  width: 447px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #d3bb3d;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

#searchBar > button,
#searchBar > button:hover {
  background: #ffffff;
  border: none;
}

#searchBar > button > img {
  width: 18px;
}

#searchBar > input {
  width: 411px;
  border: none;
}

#searchBar > input:focus {
  outline: none;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 190px;
  height: 200px;
  padding: 5px;
  border: 1px solid #637acc;
}

#burgerContainer {
  display: none;
}

/* MEDIAS QUERIES */

@media (max-width: 860px) {
  nav {
    display: none;
  }

  header {
    border-bottom: 4px solid #2b3e59;
  }

  #searchBar {
    width: 366px;
    padding: 10px 0;
  }

  #formSection {
    padding: 10px 0;
  }
  #burgerContainer {
    display: flex;
  }
}

/* Burger menu */
/* ---------------- Navbar and burger menu ------------------ */
.navBar {
  display: flex;
}

.burgerButton {
  cursor: pointer;
}

.menu {
  width: 326px;
  height: 100rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  /* z-index: -1; */
  right: 0;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.25);
}

/* ------------- sliding menu ------------------ */
.hidden {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
